
.homebody{
    background-color:#b8b9ba;
    text-align:center;
    white-space:nowrap;
    background-image:url("Resources/PaulMorris.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    overflow-y:hidden;
}

.experience{
   min-height:1000px;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index:-100;
}

.sidenav {
    height: 400px; 
    width: 110px; /* Set the width of the sidebar */
    position: fixed; /*(stay in place on scroll) */
    z-index:1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#34373a;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius:10px;
    margin-top:10%;
    overflow-y:hidden; /* Disable vertical scroll */
    margin-left:20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    padding-top:20px;
    text-align:center;
    cursor:pointer;
}

.sidenav p{
    color:black;
    margin-top:0px;
    margin-bottom:30px;
    background-color:#e8e176;
    border-radius:5px;
    width:90px;
    margin-left:auto;
    margin-right:auto;
    font-family:georgia,serif;
    text-align:center;
}

.sidenav a:hover {
    color: #e8e176;
}

.profilepic{
    display:inline-block;
    border-radius:500px;
    width:400px;
    margin-left:0;
    margin-right:auto;
}

.separator{
    margin:0;
    padding:0;
    height:360px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}

.paragraph{
    width:555px;
    height:355px;
    background-color:#e8e176;
    border-radius:10px;
    display:inline-block;
    font-size:18px;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
}


.lowertitle{
    display:inline;
}

h1{
    margin:0;
    padding:0;
}


h4{
    margin-top:-2%;
    margin-left:auto;
    margin-right:auto;
    background-color:#34373a;
    text-align:center;
    display:block;
    width:200px;
    color:white;
    border-radius:10px;
}

.pagetitle{
   background-color:#34373a;
   border-radius:5px;
   color:white;
   margin-bottom:5%;
   min-width:65em;
 
}

.section1{
text-align:center;
}

.section2{
    margin-top:25px;
    background-color:#e8e176;
    border-radius:10px;
    display:inline-block;
    font-size:18px;
    margin-right:auto;
    margin-left:auto;
    white-space:normal;
}

h3{
    background-color:#34373a;
    color:white;
    border-radius:5px;
    max-width:65em;
    min-width:65em;
    text-align:center;
    margin:0;
    padding:0;
    margin-right:auto;
    margin-left:auto;
}

.KeySkills{
    margin-top:20%;
    height:25%;
}

.Experience{
    margin-top:20%;
    height:25%;
}

.Education{
    margin-top:20%;
    height:25%;
}

#Communication{
    width:500px;
    height:460px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:3%;
    display:none;
    padding-right:10px;
}

#Computer{
    width:500px;
    height:460px;
    background-color:#e8e176;
    border-radius:10px;
    display:none;
    font-size:18px;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    white-space:normal;
    margin-top:3%;
    vertical-align:top;
    padding-right:10px;
}

#Communicate{
    z-index:10;
    display:inline-block;
    margin-right:1%;
    margin-left:1%;
    text-align:center;
    margin-top:3%;
    width:200px;
    color:white;
    border-radius:10px;
    background-color:#34373a;
    border:none;
    font-size:16px;
    font-weight:bold;
    font-family:georgia,serif;
    cursor:pointer;
}

#Communicate:hover{
    color:#e8e176
}

#Organisation{
     width:500px;
    height:460px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:3%;
    display:none;
    padding-right:10px;
}

/*Adding downwards arrow */
#Communicate:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 8px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

/*Adding downwards arrow */
#ShowComp:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 8px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

#ShowComp:hover{
    color:#e8e176;
}

/*Adding downwards arrow */
#ShowOrganise:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 8px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

#ShowOrganise:hover{
    color:#e8e176;
}

#ShowComp{
    z-index:10;
    display:inline-block;
    margin-left:1%;
    margin-right:1%;
    text-align:center;
    margin-top:3%; 
    width:200px;
    color:white;
    border-radius:10px;
    background-color:#34373a;
    border:none;
    font-size:16px;
    font-weight:bold;
    font-family:georgia,serif;
    cursor:pointer;
}

#ShowOrganise{
     z-index:10;
    display:inline-block;
    margin-left:1%;
    margin-right:1%;
    text-align:center;
    margin-top:3%; 
    width:200px;
    color:white;
    border-radius:10px;
    background-color:#34373a;
    border:none;
    font-size:16px;
    font-weight:bold;
    font-family:georgia,serif;
    cursor:pointer;
}

#spaceFill{
    height:440px;
}

.Experience h4{
    margin-top:-5px;
}

.WorkExperience{
    width:555px;
    height:355px;
    background-color:#e8e176;
    border-radius:10px;
    display:inline-block;
    font-size:18px;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
}

#WorkExperience{
    z-index:10;
    display:inline-block;
    margin-left:1%;
    margin-right:1%;
    text-align:center;
    margin-top:5px; 
    width:200px;
    color:white;
    border-radius:10px;
    background-color:#34373a;
    border:none;
    font-size:16px;
    font-weight:bold;
    font-family:georgia,serif;
    cursor:pointer;
    height:50px;
}

#WorkExperience:hover {
    color:#e8e176;
}

#WorkExperience:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 8px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

#Volunteering{
     z-index:10;
    display:inline-block;
    margin-left:1%;
    margin-right:1%;
    text-align:center;
    margin-top:5px; 
    width:200px;
    color:white;
    border-radius:10px;
    background-color:#34373a;
    border:none;
    font-size:16px;
    font-weight:bold;
    font-family:georgia,serif;
    cursor:pointer;
    height:50px;
}

#Volunteering:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 8px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
}

#Volunteering:hover{
    color:#e8e176;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#34373a;
   color: white;
   text-align: center;
   display:inline-block;
   height:7%;
   border-radius:5px;
   min-width:65em;
}

#email{
    display:inline;
    padding:2%;
    font-size:20px;
}

#mobile{
    display:inline;
    padding:2%;
    font-size:20px;
}

#linkedIn img{
    margin-left:auto;
    padding-right:5%;
    text-align:center;
    margin-top:50%;
    display:block;
    border-radius:5px;
}

#workExperience1{
    width:300px;
    height:400px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:1%;
    padding-right:10px;
    display:inline-block;
}

#workExperience2{
    width:300px;
    height:400px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:1%;
    padding-right:10px;
    display:inline-block;
}

#workExperience3{
    width:300px;
    height:400px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:1%;
    padding-right:10px;
    display:inline-block;
}

#skillsIntro{
    background-color:#e8e176;
    border-radius:15px;
    padding-top:2%;
    padding-bottom:2%;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    margin-top:5%;
    font-family:georgia,serif;
}

.secondary{
   width:300px;
    height:400px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:1%;
    padding-right:10px;
    display:inline-block;
}

.university{
    width:300px;
    height:400px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:1%;
    padding-right:10px;
    display:inline-block;
}

.filler{
    height:400px;
}

table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
    margin:auto;
    text-align:center;
}

#lcScores{
    border-radius:2px;
    padding:1px;
    background-color:rgb(52, 55, 58, 0.7);
    color:white;
    text-decoration:none;
}

#lcScores:hover{
    color:#e8e176;
}

#BIS{
    border-radius:2px;
    padding:1px;
    background-color:rgb(52, 55, 58, 0.7);
    color:white;
    text-decoration:none;
}

#BIS:hover{
    color:#e8e176;
}

#MRae{
    border-radius:2px;
    padding:1px;
    background-color:rgb(52, 55, 58, 0.7);
    color:white;
    text-decoration:none;
}

#MRae:hover{
    color:#e8e176;
}

#WorkExperience{
    color:#e8e176;
}

#VolunteerExperience1{
    width:300px;
    height:400px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:1%;
    padding-right:10px;
    display:none;
}

#VolunteerExperience2{
    width:300px;
    height:400px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:1%;
    padding-right:10px;
    display:none;
}

#VolunteerExperience3{
    width:300px;
    height:400px;
    background-color:#e8e176;
    border-radius:10px;
    font-size:18px;
    text-align:center;
    margin-right:10px;
    margin-left:auto;
    white-space:normal;
    vertical-align:top;
    margin-top:1%;
    padding-right:10px;
    display:none;
}